{% extends "index/index_base.html" %}
{% load staticfiles %}


{% block customcss%}
<link href="{% static 'index/css/navbar-fixed-top.css' %}" rel="stylesheet">
<link href="{% static 'common/css/lodding.css' %}" rel="stylesheet">

{% endblock customcss %}


{% block container%}
<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
<div class="viewFramework-product-body">
<!-- product body -->
  <div ng-transclude=""> 
      <div ui-view="" class="console-container ">
           
          <h2><span class="label label-primary">Clear Cache</span></h2>
          <div style="margin:15px 0" class="alert alert-warning">注意: 可清理nginx缓存和cdn缓存。</div>
          <ul class="nav nav-tabs">
              <li class="active"><a  href="#/cache/urlRefresh" >URL刷新</a></li>
              <li class="" ><a  href="#/cache/directoryRefresh" class="ng-binding" >目录刷新</a></li>
              <li class=""><a href="#/cache/findRefresh" class="ng-binding" >查询操作纪录</a></li></ul>

          <div class="tab-content ng-scope">
              <div ui-view="cacheTabUrl" data-spm="108">
                   <form class="" id="urlForm"  method="post"  name="urlForm" action="">
                     <p class="text-muted">输入刷新对象URL：</p>
                     <textarea required="required" rows="5" name="url" class="form-control"   placeholder="http://www.xxx.com/xxx/xxx.png"></textarea>
                     <div class="help-block">一次可提交多个URL，URL之间请分行隔开输入</div>
                     <div  class="errorLable ng-hide">
                        <span class="icon-no-2  text-danger"></span>
                        <span class="text-danger ng-binding">此项为必填项</span>
                     </div>
                     <div class="errorLable ng-hide">
                       <span class="icon-no-2  text-danger"></span> 
                       <span class="text-danger ng-binding">请填写正确的URL格式，并检查URL是否重复</span>
                     </div>
                     <div class="help-block text-success"></div>
                     <div class="clearfix margin-top-2">
                      <div class="pull-left">
                        <input id="submit" class="btn btn-primary ng-binding" type="submit" value="提交"  /> 
                       <!--  <button class="btn btn-primary ng-binding" onclick="purge()"  id="pg" type="button">提交</button> -->
                             {% csrf_token %} 
                      </div>
                     </div>
                   </form>
                   <!--
                   <div ng-show="cdnUrlRefresh.resultShow" class="row cdn-table margin-top-2 ng-scope ng-hide">
                       <div class="cdn-table-header clearfix">
                           <div class="col-sm-3 cdn-table-last dropdown">
                               <ul role="menu" style="right: 150%;left: 0;min-width: 80px" class="dropdown-menu">
                                   <li><a class="ng-binding" ng-click="cdnUrlRefresh.listStatus=''">全部</a> 
                                       <a class="ng-binding" ng-click="cdnUrlRefresh.listStatus='complete'">成功</a> 
                                       <a class="ng-binding" ng-click="cdnUrlRefresh.listStatus='fail'">失败</a>
                                  </li>
                              </ul>
                           </div>
                       </div>
                  </div>
                   -->
                </div>
          </div>
     </div> 

 <div id="rr" class="well"> 

</div>

<div class="spinner" id="cc">
  <div class="spinner-container container1">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container2">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container3">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
</div>



    </div>


<!-- /product body -->
   </div>

</div> <!-- /container -->
{%endblock container%}


{% block customjs %}


  <script>



   $('form').submit(function(){
    // alert($(this).serialize());

      $("#rr").empty()
//      if($"#rr>cc".length>0){
//        console.log("存在")
 //     else 
        
 //       console.log("不存在")
 //       $("#cc").appendTo("#rr");
  //    }  
      $("#cc").appendTo("#rr");
      $("#cc").show();
 
     $.ajax({
       type:'POST',
       dataType:'json',
       url:'/cache/purge/',
       data: $(this).serialize(),
      // async:false,

       error:function(){
              alert('好像哪里不对，你猜!')
       },

       success:function(data){
       var b = data.a;
       console.log(b)
       var re="<p id='xxoo'>";
       re+=b
       re+="</p>"
       console.log(re)
       $('#rr').html(re)
       $("#cc").hide();
       },

     })

     return false;
  });

  </script>


{% endblock customjs %}
